.about-us {
  font: "Mulish", sans-serif;
  color: #8a8a8a;
  padding: 20px;
  font-family: Arial, sans-serif;

  h1 {
    color: #050a3a;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .description {
    font-size: 1.2em;
    margin-bottom: 20px;
    max-width: 50%;
    text-align: justify;

    @media (max-width: 600px) {
      max-width: none;
    }
  }

  .about-content {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .image-container {
      flex: 1;
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }

    .custom-fields {
      flex: 1;
      margin-left: 20px;

      h2 {
        color: #050a3a;
        font-size: 1.8em;
        margin-top: 0;
      }

      p {
        font-size: 1.1em;
        line-height: 1.5;
        margin-bottom: 20px;
      }
    }
  }
}

.our-team {
  font-family: "Mulish", sans-serif;

  h1 {
    color: #050a3a;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 10%;
  }

  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
    
    .team-item {
      flex: 1 1 calc(25% - 30px);
      max-width: calc(25% - 30px);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @media (max-width: 600px) {
        max-width: none;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
      }

      .role,
      .phone,
      .email {
        margin-top: 10px;
      }
    }
  }
}