.our-partners {
  font-family: "Mulish", sans-serif;

  h1 {
    color: #050a3a;
    font-size: 2.5em;
    font-weight: 700;
    margin: 5%;
  }

  .partners-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5%;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .partner-item {
      margin: 20px;

      @media (max-width: 600px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        max-height: 100px;
        width: auto;
      }
    }
  }
}
