.container-search {
    font-family: 'Mulish', sans-serif;;   
    h1 {
        font-size: 48px;
        color: #0A0C32;
        text-align: left;
        margin-bottom: 40px;
    }
}

.container-search .search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.search-item {
    background-color: #ffffff;
    padding: 20px;
    width: calc(33.333% - 20px);
    
    
    h2 {
        font-size: 24px;
        color: #050A3A;
        margin-bottom: 10px;
    }

    .search-meta {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
        gap : 10px;


        .category {
            color: #050A3A;
        }

        .date {
            color: #050A3A;
        }
    }

    .search-excerpt {
        font-size: 16px;
        color: #8A8A8A;
    }
}

.container-search .search-results .search-item:last-child {
    margin-bottom: 50px;
    
}