.our-services {
  font-family: "Mulish", sans-serif;

  h1 {
    color: #050a3a;
    font-size: 2.5em;
    font-weight: 700;
    margin: 5%;
  }

  .services-container {
    display: flex;
    flex-direction: row;

    .service-item {
      flex: 1 1 calc(33.333% - 20px);

      img {
        width: 480px;
        height: 320px;
        object-fit: cover;
      }
    }
  }
}
